#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	cargo build --release

override_dh_auto_install:
	install -Dm0755 target/release/cosmic-ext-gtk-theme debian/cosmic-ext-gtk-theme/usr/bin/cosmic-ext-gtk-theme
	install -Dm0644 res/dev.jacobwlms.CosmicExtGtkTheme.desktop debian/cosmic-ext-gtk-theme/usr/share/applications/dev.jacobwlms.CosmicExtGtkTheme.desktop

override_dh_auto_test:
